<table class="cs-table table table-striped p-a-1" *ngIf="cart && cart.length > 0; else EmptyCartInfo">
  <thead>
    <tr>
      <th>Image</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Subtotal</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <tr *ngFor="let c of cart; let i = index;">
      <td><img [src]='c.image' [title]='c.name' [style.width.px]='imageWidth' [style.height.px]='imageHeight' [style.margin.px]='imageMargin'></td>
      <td>{{c.name}}</td>
      <td><button class="btn btn-success btn-sm" (click)="incrementQuantity(i)"><span class="glyphicon glyphicon-plus"></span></button>
      {{c.quantity}}
        <button class="btn btn-warning btn-sm" (click)="decrementQuantity(i)"><span class="glyphicon glyphicon-minus"></span></button>
      </td>
      <td>{{c.price | currency: "EUR" :true:"1.2-2"}}</td>
      <td>{{c.quantity * c.price | currency: "EUR" :true:"1.2-2"}}</td>
      <td><button class="btn btn-sm btn-danger" (click)="removeProduct(i)"><span class="glyphicon glyphicon-trash"></span></button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4" class="text-right" >Total:{{total | currency: "EUR" :true:"1.2-2"}}</td>
    </tr>
  </tfoot>
</table>
<ng-template #EmptyCartInfo>
  <div>
    <p>Your cart is empty</p>
  </div>
</ng-template>
