
<div id="contact" class="col-xs-12">
    <ul> 
        <li><h3>Get In Touch With Us:</h3></li>
        <li>happysmoothie@mail.ie</li>
        <li>Ash Lane, Sligo, Ireland</li>
        <li>tel: 123 456 789</li>
        <li><i><a href="https://www.facebook.com/itsligo/" class="fa fa-facebook-square" aria-hidden="true" style="font-size:40px;color:#3b5998"></a></i>
        <i><a href="https://www.instagram.com/itsligo/" class="fa fa-instagram" aria-hidden="true" style="font-size:40px;color:#cd486b"></a></i>
        <i><a href="https://twitter.com/itsligo" class="fa fa-twitter-square"  aria-hidden="true" style="font-size:40px;color:#00aced"></a></i></li>
    </ul>
</div>        