#contact li{
    font-size: 2rem;
    text-decoration: none;
}
#contact ul {
  list-style-type: none;
}
h1{
    color: #ff1e40;
}

#contact img{
	float: left;
    margin-top: 1rem;
	width: 4rem;
}