<div class="loginname" *ngIf="isLoggedIn">
  <p class="navbar-text navbar-right">Logged In: {{user_displayName}} ({{user_email}})
    <p>
</div>
<div class="loginname" *ngIf="!isLoggedIn">
  <p class="navbar-text navbar-right">Logged Out</p>
</div>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<div style="text-align:center">
  <a class="active item" [routerLink]="['home']">
      <img id="bannerLogo" src="https://i.imgur.com/zCOGRwK.png" title="logo" />
      </a>
</div>
<!--<app-smoothies></app-smoothies>
<app-contact></app-contact> -->



<!-- -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <!--<img id="bannerLogo" class="navbar-brand" src="https://i.imgur.com/zCOGRwK.png" title="logo"/>-->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="width-adjust">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a class="active item" [routerLink]="['home']"> Home</a></li>
          <li><a class="active item" [routerLink]="['smoothies']"> Smoothies</a></li>
          <li><a class="active item" [routerLink]="['shop']"> Shop</a></li>
          <li><a class="active item" [routerLink]="['contact']">Contact Us</a></li>

        </ul>

        <!--<form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>-->

        <ul class="nav navbar-nav navbar-right">
          <li><a class="active item" [routerLink]="['loginAdmin']">Admin</a></li>
          <li><a [routerLink]="['signup']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a [routerLink]="['login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
        </ul>
      </div>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<router-outlet></router-outlet>

<footer>

  <ul class="nav navbar-nav navbar-right">
    <li><a [routerLink]="['loginAdmin']">Admin</a></li>
    <li><a [routerLink]="['signup']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a [routerLink]="['login']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    <li><a (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a [routerLink]="['home']"> Home</a></li>
    <li><a [routerLink]="['smoothies']"> Smoothies</a></li>
    <li><a [routerLink]="['shop']"> Shop</a></li>
    <li><a [routerLink]="['contact']">Contact Us</a></li>


  </ul>
  <div class="container adjust-footer">Copyright &copy; <strong>HappySmoothies Inc.</strong> 2017</div>
</footer>




<!--
  <div class="container">
    <div class="alert alert-warning alert-dismissible" role="alert">
       <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <strong><a href="http://codingthesmartway.com/courses/angular2-firebase" target="_blank">[ONLINE COURSE] - Angular 2 Firebase - Build a Web App with Typescript</a></strong> +++ Learn how to build a Web Application from A to Z using Angular 2, Firebase 3 and Typescript
     </div>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://codingthesmartway.com">CodingTheSmartWay.com</a>
        </div>
        <div *ngIf="isLoggedIn">
          <p class="navbar-text navbar-right">Logged In: {{user_displayName}} ({{user_email}})<p>
        </div>
        <div *ngIf="!isLoggedIn">
          <p class="navbar-text navbar-right">Logged Out</p>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </div>
  
-->