<div class="container">
  <hr>
  <button (click)="showAddForm()" *ngIf="!showAdd" type="button" class="btn btn-info btn-lg pull-right">Add Smoothie</button>

  <h3>List of all Smoothies</h3>
  <span class="clearfix"></span>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Price</th>
        <th>Ingredients</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sInfo of Data  let i = index">
        <td> <img [src]='sInfo.imageUrl' [style.width.px]='imageWidth' [style.height.px]='imageHeight' [style.margin.px]='imageMargin'></td>
        <td #name>{{sInfo.smoothieName }}</td>
        <td #price>{{sInfo.price | currency: "EUR" :true:"1.2-2"}}</td>
        <td #ingredients>{{sInfo.ingreName }}</td>
        <td #description>{{sInfo.description}}</td>
        <td><button (click)="edit=!edit" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-edit"></span></button>
          <button id="delbtn" (click)="deleteSmoothie(sInfo.idSmoothie)" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></button></td>
      </tr>
    </tbody>
  </table>

  <!--
  <div *ngIf="edit">
    <div *ngFor="let sInfo of Data" class="ui input focus">
      <input type="text" size="7" #editimage value="{{sInfo.imageUrl}}">
      <input type="text" size="7" #editname value="{{sInfo.smoothieName}}">
      <input type="text" size="7" #editPrice value=" {{sInfo.price}}">
      <input type="text" size="7" #editIngre value="{{sInfo.ingreName}}">
      <input type="text" size="7" #editDes value=" {{sInfo.description}} ">
    </div>

    <div class="ui buttons right floated">
        <button (click)="updateSmoothie()" type="button" class="btn btn-sm btn-info">
      <span class="glyphicon glyphicon-ok-sign"></span> Save
    </button>
        <div class="or"></div>
        <button (click)="Close()" class="btn btn-sm btn-warning">Close</button>
      </div>
    </div>
  </div> -->

  <div *ngIf="edit" class='panel panel-primary'>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="container">
            <form class="form-horizontal">
              <h3>Add Smoothie</h3>
              <div *ngFor="let sInfo of Data">
                <div class="form-group">
                  <label class="control-label col-sm-2">Image:</label>
                  <div class="col-sm-3">
                    <input type="text" #editimage value="{{sInfo.imageUrl}}" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2">Name:</label>
                  <div class="col-sm-3">
                    <input type="text" #editname value="{{sInfo.smoothieName}}" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2">Price:</label>
                  <div class="col-sm-3">
                    <input type="text" #editPrice value=" {{sInfo.price}}" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2">Ingredients:</label>
                  <div class="col-sm-3">
                    <input type="text" #editIngre value="{{sInfo.ingreName}}" class="form-control" placeholder="Enter ingredient">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2">Description:</label>
                  <div class="col-sm-4">
                    <textarea #editDes value="{{sInfo.description}}" class="form-control" rows="5" id="comment"></textarea>       
                  </div>
                </div>
              </div>
            </form>

            <div class="ui buttons">
                <button (click)="updateSmoothie(editimage, editname, editPrice, editIngre ,editDes )" type="button" class="btn btn-sm btn-info">
              <span class="glyphicon glyphicon-ok-sign"></span> Save
            </button>
                <div class="or"></div>
                <button (click)="Close()" class="btn btn-sm btn-warning">Close</button>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>


  <hr>

  <div *ngIf="showAdd" class='panel panel-primary'>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <app-add-smoothie></app-add-smoothie>
        </div>
      </div>
    </div>
  </div>

