<table class="cs-table table table-striped p-a-1">
  <thead>
    <tr>
      <th>Image</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Subtotal</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <!--  <tr ngIf="cart.length == 0"> -->
    <tr>
      <td>Your cart is empty</td>
    </tr>
  <!--   <tr ngFor="let line of cart.line"> -->
    <tr>
      <td>Image</td>
      <td>Product</td>
      <th><button class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span></button>
        <input type="text" readonly>
        <button class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-minus"></span></button>
      </th>
      <td>Price</td>
      <td>Subtotal</td>
      <td><button class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-trash"></span></button></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4" class="text-right">Total:</td>
    </tr>
  </tfoot>
</table>
