<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body>
  <add-t>

  <div id="description-section" class= "container">
    <div class='panel panel-primary'>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-sm-4 smoothie-description">
            <img class="smoothie-img" alt="smoothie"/>
            <div class="smoothie-description">Das ist ein Smoothie</div>
          </div>
          <div class="col-xs-12 col-sm-4 description-details">
            <div class="rating">5 von 5</div>
            <div class="price">12.30</div>
            <div class="ingrediants">Banane, Erdbeere</div>
          </div>
          <div class="col-xs-12 col-sm-4 ingrediants-details">
            <div>other details about ingredians</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>




