<div>
  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row my-4">
      <div class="col-lg-6">
        <img class="img-fluid rounded multiple-borders" src="https://i.imgur.com/HLVhVKt.jpg" alt="man and woman enjoying smoothie">
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <h1>Find a flavour that suit you</h1>
        <p>Here at HappySmoothies we work hard to always have new and exciting flavours to suit everyone. whether you are a
          sweet pete or a bitter betty we have the perfect tasting smoothie for you. Click the button below to view our wide
          range of smoothies now! </p>
        <a class="btn btn-warning btn-lg" [routerLink]="['./app/smoothies']"> View our Smoothies</a>
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->

    <!-- Heading Row -->
    <div class="row my-4">
      <div class="col-lg-6 re-adjust-right">
        <img class="multiple-borders" src="https://i.imgur.com/THUbLov.jpg" alt="Smoothie surrounded by fruit">
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <h1>Our Goal</h1>
        <p>We here at HappySmoothies are always aiming for perfection. Each new smoothie we reelase has been rigorously tested
          to ensure the highest standard of quality and taste. Each and everyone of you who has tried our smoothies are very
          important to us! your opinions matter, please contact us with your opinions.
        </p>
        <a class="btn btn-warning btn-lg" [routerLink]="['contact']"> Give us Feedback</a>
      </div>
      <!-- /.col-md-6 -->

    </div>
    <!-- /.row -->
    <div class="row my-4">
      <div class="col-lg-6">
        <img class="img-fluid rounded multiple-borders" src="https://i.imgur.com/Voaiq39.jpg" alt="red and green christmas smoothie">
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <h1>Santa's Smoothies range
          <h2>COMING SOON</h2>
        </h1>
        <p>Christmas is almost here and soon it'll be time to launch our legendary "Santa's Smoothies" Range. This Christmas
          why not enjoy a smoothie with your family while being all wrapped up and cosy infront of the fireplace. </p>
      </div>
      
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->

    <!-- Content Row 
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Card One</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias
              corporis quod, ea minima accusamus.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Card Two</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur
              voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Card Three</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias
              corporis quod, ea minima accusamus.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">More Info</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

  </div>
  <!-- /.row -->
  <div class="bottom"></div>
  <div class="home-map-text">
    <h1>Now Open in Sligo! </h1>
    <h2>Come Visit and try out one of our fresh new smoothies.</h2>
  </div>
  <div class="home-map">
    <app-map></app-map>
  </div>
</div>
<!-- /.container -->